/app/cache/*
/app/logs/*
/app/spool/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/spool/.gitkeep
/app/config/parameters.ini
/app/config/parameters.yml
/app/bootstrap.php.cache
/bin/
/vendor/
/web/assetic/
/web/bundles/
/web/css/
/web/js/
/web/fotos/
/web/uploads/temp/*
!web/uploads/temp/.gitkeep
/nbproject/
/composer.lock
*~
