<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %} - Registro de Eventos</title> 

{% block head %}
{% endblock %}
 </head>
<body>
	<header>
		{% block header %}
		<ul>
		<li>Hola</li>
		<li>Mundo</li>
		</ul>
		{% endblock %}
	</header>
	<section>
		{% block section %}
		contenido default...
		{% endblock %}	
	</section>
	<footer>
		{% block footer %}
		Copyright...
		{% endblock %}	
	</footer>
</body>
</html>