<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %} - Registro de Eventos</title> 
<link rel="stylesheet" href="bundles/registroeventoscore/css/base.css"> 
{% block stylesheets %}{% endblock %}

{% block head %}
{% endblock %}
 </head>
<body>
    <header>
        <div id="banner">Banner....</div>
        {% block header %}
        <ul>
        <li>Hola</li>
        <li>Mundo</li>
        {% if usuario is null %}
        <li><a href="{{ path('registro_eventos_core_homepage') }}login">IDENTIFICARSE</a></li>
        {% else %}
        <li>SALIR</li>
        {% endif %}

        </ul>
        {% endblock %}
    </header>
    <section>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% block section %}
        contenido default...
        {% endblock %}  
    </section>
    <footer>
        {% block footer %}
        Footer Copyright...
        {% endblock %}  
    </footer>
</body>
</html>