{% set usuario = app.user %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url('eventos') }}../assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url('eventos') }}../assets/css/base.css">
        {% endblock %}
    </head>
    <body>
        {% block navegacion %}{% endblock %}
        
        <div class="container">
    	{% block body %}{% endblock %}
        </div>
    </body>
    {% block javascript %}
    <script type="text/javascript" src="./../assets/jquery/jquery.js"></script>
    <script type="text/javascript" src="./../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endblock %}
</html>