body{
	background-color: #CCC;
	margin-top:6em;
}

.nombreSistema{
	font-size: 2em;
}

.form-control{
	height:3em;
}

.oculto{
	display: none;
}

#mostrarRectificaciones{
	cursor:pointer;
}

.navbar-nav li{
	font-size:1.3em;
}

.navbar-nav a.active{
	color: #337AB7!important;
}
.div-navs {
    margin-bottom: 30px;
}