.padding-5 div {
    padding-left: 5px;
    padding-right: 5px;
}

table.eventos {
    margin-top: 3em;
}

.accion {
    width: 100px;
}

.space{
	height:2em;
	width:100%;
}
#listado-detalles {
    max-height: 300px;
    overflow-y: auto;
}