.padding-5 div {
    padding-left: 5px;
    padding-right: 5px;
}

table.eventos {
    margin-top: 3em;
}

.accion {
    width: 100px;
}

.space{
	height:2em;
	width:100%;
}

table td{
    white-space: pre-wrap;
    max-width: 200px;
}

.textarea-fijo{
    margin: 0px;
    min-width: 847px;
    min-height: 90px;
}

#listado-detalles {
    max-height: 300px;
    overflow-y: auto;
}

/*#botonRegistrarEvento{
    margin-right: 7em;
}*/

