{% extends 'RegistroEventosCoreBundle::base.html.twig' %}

{% block body -%}
    <h1>TipoEvento creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipos_eventos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
