{% extends "RegistroEventosCoreBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<h1>Ingresar al sistema</h1>
<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div><label for="username">Usuario:</label>
    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Ej: Juan"/></div>

    <div><label for="password">Contraseña:</label>
    <input class="form-control" type="password" id="password" placeholder="Ej: 123456" name="_password" required="required" /></div>
 
    <br>
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">Usuario y contraseña incorrectos</div>
    {% endif %}
    <div><input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Ingresar" /></div>

</form>
</div>
</div>
{% endblock body %}
