{% extends "RegistroEventosCoreBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<h1>Ingresar al sistema</h1>
<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div><label for="username">Usuario:</label>
    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Ej: Juan"/></div>

    <div><label for="password">Clave:</label>
    <input class="form-control" type="password" id="password" placeholder="Ej: 123456" name="_password" required="required" /></div>
 
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Recordar sesion</label>
 
    <br>
    <div><input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Ingresar" /></div>
</form>
</div>
</div>
{% endblock body %}
