{% extends "RegistroEventosCoreBundle::base.html.twig" %}

{% block title %}RegistroEventosCoreBundle:Supervision:index{% endblock %}

{% block body %}
<h1>Welcome to the Supervision:index page</h1>
{% endblock %}
